# Virtual environment
.venv/
venv/
env/

.idea/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code settings
.vscode/
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json

# Environment variables
*.env
*.env.*

# Build / distribution
build/
dist/
*.egg-info/
.eggs/

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
